@import "tailwindcss";

a {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-duration: 200ms;
}

::-webkit-scrollbar {
  width: 8px;
  background: #1d1332;
}
::-webkit-scrollbar-thumb {
  background: #4f357d;
  border-radius: 8px;
}

.neon-glow-skill {
  box-shadow: 0 0 10px 0 #37f3ff66, 0 0 18px 0 #a47aff44;
}
.hover\:neon-glow-skill-strong:hover {
  box-shadow: 0 0 24px 6px #37f3ff, 0 0 44px 10px #a47aff99;
}
.glow-txt {
  text-shadow: 0 0 12px #37f3ff99, 0 0 4px #2a2b43;
}
